* {
    padding: 0;
    margin: 0;
}
body {
    width:100%
}
.container {
    margin:  50px auto;
}
/* *****header section***** */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-context {
    width: 40%;
}
.header-context > p {
    font-size: 18px;
    margin-top: 10px;
}
button {
    padding: 7px 14px;
    margin: 30px  0;
    background-color: #EB2D36;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}
.header-context > h1 {
    font-size: 50px;
}
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.top {
    margin-top: -100px;
}
.curve-image > img {
    width: 80%;
}
.image-content > img {
    width: 80%;
    padding-left: 4rem;

}
.header-context2 {
    width: 40%;
    margin-top: 4rem;
    font-size: 22px;
}
span {
    color: #EB2D36;
}
/* ****section one**** */
.section-container {
    width: 100%;
    background-color: #1C1B1B;
    color: #ffffff;
}
.section2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}
.section2-content > h2 {
    width: 30%;
    text-align: center;
    padding-top: 20px;
}
.context-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    width: 50%;
    text-align: start;
}
.view > div{
    padding-top: 30px;
}
.section2-content > span {
    padding-top: 40px;
    width: 20%;
    text-align: center;
}
.section2-container {
    width: 100%;
    background-color: #FFEEEF;
}
/* *****section 3****** */
.section3-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}
.section3-content > .section3-writeup {
    padding-top: 30px;
    width: 35%;
}
.section3-writeup > h2  {
    font-size: 30px;
}
.section3-writeup > p {
    padding: 15px 0 30px 0;
    font-size: 18px;
}
.image-content2 > img {
    width: 70%;
    text-align: center;
    border-radius: 7px;
}
/* ****section 4*** */
.section4-container {
    background-color: #1C1B1B;
    color: #ffffff;
}